html
{
    margin: 0;
}

body
{
    text-align: center;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 481px){

    #main, #subnav
    {
        float: left;
        padding: 0px;
        width: 94%;
        margin: 3%;
    }

    .action-button, .flexible-button
    {
        position: relative;
        -webkit-transform: translate(0px,5px);
        padding: 10px 40px;
        margin: 0px 10px 10px 0px;
        border-radius: 10px;
        font-size: 25px;
        color: #FFF;
        text-decoration: none;
    }

    .action-button
    {
        width: 80%;
    }
}

header
{
    position: relative;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 25px;
    color: #FFF;
    background-color: #00a8e6;
    border-bottom: 5px solid #00639e;
    text-shadow: 0px -2px #008080;
    text-decoration: none;
}

.back-icon
{
    width: 32px;
    height: 32px;
    float: left;
}

.home-icon
{
    width: 32px;
    height: 32px;
    float: right;
}

table
{
    border: 1px solid gray;
    font-size: 25px;
    width: 15%;
}

input, textarea, select {
    -webkit-appearance: none;
}

textarea
{
    font-size: 20px;
    resize: none;
    text-align: left;
}

textarea .chat
{
    width: 100%;
    height: 20%;
}

.button-container {
    display: inline;
}

.animate
{
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}

.action-button, .flexible-button
{
    position: relative;
    padding: 10px 40px;
    margin: 0px 10px 10px 0px;
    border-radius: 10px;
    font-size: 25px;
    color: #FFF;
    text-decoration: none;
}

.action-button
{
    min-width: 20%;
}

.message, .info {
    display: inline;
    padding: 0.3em;
    background-color: #888;
    border-bottom: 5px solid #555;
    border-radius: 4px;
    color: #FFF;
}

.message
{
    font-size: 100%;
}

.info
{
    min-width: 20%;
    font-size: 20px;
}

.blue
{
    background-color: #3498DB;
    border-bottom: 5px solid #2980B9;
    text-shadow: 0px -2px #2980B9;
}

.red
{
    background-color: #E74C3C;
    border-bottom: 5px solid #BD3E31;
    text-shadow: 0px -2px #BD3E31;
}

.green
{
    background-color: #82BF56;
    border-bottom: 5px solid #669644;
    text-shadow: 0px -2px #669644;
}

.yellow
{
    background-color: #F2CF66;
    border-bottom: 5px solid #D1B358;
    text-shadow: 0px -2px #D1B358;
}

.purple
{
    background-color: #BE008B;
    border-bottom: 5px solid #95006D;
    text-shadow: 0px -2px #7D005C;
}

.white
{
    color: #000;
    background-color: #FFF;
    border-radius: 4px;
    border: inset 1px #CCC;
    text-shadow: none;
}

.back
{
    background-color: #888;
    border-bottom: 5px solid #555;
    text-shadow: 0px -2px #555;
}

.action-button:active
{
    transform: translate(0px,5px);
    border-bottom: 1px solid;
}

.inputfield {
    display: inline;
    padding: 0.3em;
    border: inset 1px #CCC;
    font-size: 100%;
    background: #FFF;
    border-radius: 4px;
    color: #666;
    min-width: 18%;
}

.datefield {
    display: inline;
    padding: 0.3em;
    border: inset 1px #CCC;
    background: #FFF;
    border-radius: 4px;
    color: #666;
}

.datefield * {
    display: inline-block;
}

.datefield input {
    width: 1.7em;
    padding: 0 0.4em;
    border: none;
    font-size: 100%;
    background: none;
    color: #666;
}

.datefield input#year { width:3em; }
.datefield input:focus { outline:none; }

.icon
{
    width: 128px;
    height: 128px;
}